Parent Name: Giant Jellyfish
Name: Jellyfish Venom
Nombre: Jellyfish Venom
Estado: auto-trad

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:25]</p>
<p><strong>Maximum Duration</strong> 6 rounds</p>
<p><strong>Stage 1</strong> [[/r 2d8[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1} (1 round)</p>
<p><strong>Stage 2</strong> [[/r 3d6[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 2} (1 round)</p>
<p><strong>Stage 3</strong> [[/r 2d10[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed} (1 round)</p>
------ Description (es) ------
<p><strong>Lanzamiento salvador</strong> @Check[type:fortitude|dc:25]</p>
<p><strong>Duración máxima</strong> 6 asaltos</p>
<p><strong>Etapa 1</strong> [[/r 2d8[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Torpe 1}# (1 asalto)</p> <p><strong>Etapa 1</strong>.
<p><strong>Etapa 2</strong> [[/r 3d6[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{{Tontín 2}# (1 asalto)</p> <p>
<p><strong>Etapa 3</strong> [[/r 2d10[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralizado}# (1 asalto)</p>
