Parent Name: Giant Whiptail Centipede
Name: Whiptail Centipede Venom
Nombre: Veneno de Ciempiés Cola de Látigo
Estado: auto-trad

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:19]</p>
<p><strong>Maximum Duration</strong> 6 rounds</p>
<p><strong>Stage 1</strong> [[/r 1d10[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1} (1 round)</p>
<p><strong>Stage 2</strong> [[/r 2d10[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1} (1 round)</p>
<p><strong>Stage 3</strong> [[/r 2d10[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 2} (1 round)</p>
------ Description (es) ------
<p><strong>Lanzamiento salvador</strong> @Check[type:fortitude|dc:19]</p>
<p><strong>Duración máxima</strong> 6 asaltos</p>
<p><strong>Etapa 1</strong> [[/r 1d10[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Torpe 1}# (1 asalto)</p> <p><strong>Etapa 1</strong>.
<p><strong>Etapa 2</strong> [[/r 2d10[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{{Torpe 1}## (1 asalto)</p> <p>
<p><strong>Etapa 3</strong> [[/r 2d10[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Torpe 2}# (1 round)</p>
