Parent Name: Mandragora
Name: Mandragora Venom
Nombre: Mandragora Venom
Estado: auto-trad

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:21]</p>
<p><strong>Maximum Duration</strong> 6 rounds</p>
<p><strong>Stage 1</strong> [[/r 1d6[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} (1 round)</p>
<p><strong>Stage 2</strong> [[/r 1d6[poison]]] damage, @UUID[Compendium.pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confused}, and @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} (1 round)</p>
<p><strong>Stage 3</strong> [[/r 2d6[poison]]] damage, @UUID[Compendium.pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confused}, and @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} (1 round)</p>
------ Description (es) ------
<p><strong>Lanzamiento salvador</strong> @Check[type:fortitude|dc:21]</p>
<p><strong>Duración máxima</strong> 6 asaltos</p>
<p><strong>Etapa 1</strong> [[/r 1d6[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{{Estupefacto 1}# (1 asalto)</p> <p
<p><strong>Etapa 2</strong> [[/r 1d6[veneno]]] de daño, @UUID[Compendium.pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confused}, y @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1}## (1 round)</p>
<p><strong>Etapa 3</strong> [[/r 2d6[veneno]]] de daño, @UUID[Compendium.pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confused}, y @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1}## (1 round)</p>
