Name: Thieves' Tools (Infiltrator)
Nombre: Herramientas de ladrón (Infiltrador)
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>You need thieves' tools to @UUID[Compendium.pf2e.actionspf2e.2EE4aF4SZpYf0R6H]{Pick Locks} or @UUID[Compendium.pf2e.actionspf2e.cYdz2grcOcRt4jk6]{Disable Devices} (of some types) using the Thievery skill. Infiltrator thieves' tools add a +1 item bonus to checks to Pick Locks and Disable Devices.</p>
<p>If your thieves' tools are broken, you can repair them by replacing the lock picks with @UUID[Compendium.pf2e.equipment-srd.BznmPaRjI4Orb0IH]{Replacement Picks} appropriate to your tools; this doesn't require using the Repair action. If you wear your thieves' tools, you can draw and replace them as part of the action that uses them.</p>
------ Description (es) ------
<p>Necesitas herramientas de ladrón para @UUID[Compendium.pf2e.actionspf2e.2EE4aF4SZpYf0R6H]{Forzar una cerradura} o @UUID[Compendium.pf2e.actionspf2e.cYdz2grcOcRt4jk6]{{Inutilizar un mecanismo} (de algunos tipos) usando la habilidad Latrocinio. Las herramientas de ladrón infiltrado añaden un bonificador +1 de objeto a los chequeos de Forzar cerraduras e Inutilizar mecanismos.</p> <p>Las herramientas de ladrón infiltrado añaden un bonificador +1 de objeto a los chequeos de Forzar cerraduras e Inutilizar mecanismos.</p> <p>Las herramientas de ladrón infiltrado añaden un bonificador +1 de objeto a los chequeos de Forzar cerraduras e Inutilizar dispositivos.
<p>Si tus herramientas de ladrón están rotas, puedes repararlas sustituyendo las ganzúas por @UUID[Compendium.pf2e.equipment-srd.BznmPaRjI4Orb0IH]{Ganzúas de sustitución} adecuadas a tus herramientas; para ello no es necesario usar la acción Reparar. Si llevas tus herramientas de ladrón, puedes sacarlas y reemplazarlas como parte de la acción que las usa.</p> <p>
