Parent Name: Dyzallin Shraen
Name: Utter Despair
Nombre: Utter Despair
Estado: auto-trad

------ Description (en) ------
<p>@Template[type:emanation|distance:30]{30 feet} @UUID[Compendium.pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>Living creatures are @UUID[Compendium.pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 2} while in Dyzallin's utter despair aura. They can't naturally recover from this fear while in the area but lose the frightened condition immediately upon leaving the area.</p>
<p>When a creature first enters the aura, it must succeed at a @Check[type:will|dc:39|traits:incapcitation] save (after taking the penalty from being frightened) or be @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed} for [[/br 1d4 #rounds]]{1d4 rounds}.</p>
<p>The creature is then temporarily immune to the paralysis caused by the utter despair aura for 24 hours.</p>
<p>@UUID[Compendium.pf2e.bestiary-effects.ob00D61F0c4PIvj1]{Effect: Utter Despair}</p>
------ Description (es) ------
<p>@Template[type:emanation|distance:30]{30 feet} @UUID[Compendium.pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>Las criaturas vivas quedan @UUID[Compendium.pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 2} mientras están bajo el aura de desesperación total de Dyzallin. ¡No pueden recuperarse de forma natural de este miedo mientras estén en el área, pero pierden el estado negativo (normalmente se abrevia a estado) inmediatamente al salir del área.</p> <p><strong>Miedo 2!
<p>Cuando una criatura entra en el aura por primera vez, debe tener éxito en una salvación @Check[type:will|dc:39|traits:incapcitation]# (después de sufrir la penalización por estar asustada) o quedar @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralizada}# durante [[/br 1d4 #asaltos]]{1d4 asaltos}.</p> <p>La criatura entonces queda paralizada.
<p>A continuación, la criatura es temporalmente inmune a la parálisis causada por el aura de desesperación total durante 24 horas.</p> <p>
<p>@UUID[Compendium.pf2e.bestiary-effects.ob00D61F0c4PIvj1]{Effect: Desesperación absoluta}</p>
