Parent Name: Skarja
Name: Coven
Nombre: Coven
Estado: auto-trad

------ Description (en) ------
<p>Skarja adds <em>@UUID[Compendium.pf2e.spells-srd.OsOhx3TGIZ7AhD0P]{Dominate}</em>, <em>@UUID[Compendium.pf2e.spells-srd.Uqj344bezBq3ESdq]{Nightmare}</em>, <em>@UUID[Compendium.pf2e.spells-srd.r784cIz17eWujtQj]{Scrying}</em>, and <em>@UUID[Compendium.pf2e.spells-srd.8Umt1AzYfFbC4fui]{Spellwrack}</em> to her coven's spells.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.Coven]</p>
------ Description (es) ------
<p>Skarja añade <em>@UUID[Compendium.pf2e.spells-srd.OsOhx3TGIZ7AhD0P]{Dominar}</em>, <em>@UUID[Compendium.pf2e.spells-srd.Uqj344bezBq3ESdq]{{Pesadilla}</em>, <em>@UUID[Compendium.pf2e.spells-srd.r784cIz17eWujtQj]{Escudrimiento}</em>, y <em>@UUID[Compendium.pf2e.spells-srd.8Umt1AzYfFbC4fui]{Hechizos}</em> a los hechizos de su aquelarre.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.Coven]</p>
