Parent Name: Blood Painter
Name: Dab
Nombre: Dab
Estado: auto-trad

------ Description (en) ------
<p><strong>Requirements</strong> The blood painter is within reach of an enemy taking @UUID[Compendium.pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage}.</p>
<hr />
<p><strong>Effect</strong> The blood painter touches the creature and applies blood to one of their four claws; the blood remains fresh for 1 minute. The target must succeed at a @Check[type:will|dc:28] save or become @UUID[Compendium.pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinated} with the blood painter.</p>
------ Description (es) ------
<p><strong>Requisitos</strong> El pintor de sangre está al alcance de un enemigo que recibe @UUID[Compendium.pf2e.conditionitems.lDVqvLKA6eF3Df60]{{Daño persistente por sangrado}#.</p>
<hr />
<p><strong>Efecto</strong> El pintor de sangre toca a la criatura y aplica sangre a una de sus cuatro garras; la sangre permanece fresca durante 1 minuto. El objetivo debe tener éxito en una salvación @Check[type:will|dc:28] o quedar @UUID[Compendium.pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinado}# con el pintor de sangre.</p> <p>
