Parent Name: Xiuh Couatl
Name: Instrument of Retribution
Nombre: Instrumento de Retribución
Estado: auto-trad

------ Description (en) ------
<p>The xiuh couatl transforms into any simple or martial weapon. The weapon is always a <em>+2 @UUID[Compendium.pf2e.equipment-srd.KCQRFvUgbyclvOGi]{Greater Striking} @UUID[Compendium.pf2e.equipment-srd.XszNvxnymWYRaoTp]{Flaming} @UUID[Compendium.pf2e.equipment-srd.NVst7e69agGG9Qwd]{Shock}</em> weapon and can be of any size, chosen by the xiuh couatl when they transform. In weapon form, the xiuh couatl gains Hardness equal to that of the weapon into which they transform, and they retain their Hit Points, saving throws, senses, telepathy, and traits while in weapon form. The xiuh couatl can revert to their normal form by spending a single action, which has the concentrate trait.</p>
------ Description (es) ------
<p>El xiuh couatl se transforma en cualquier arma simple o marcial. El arma siempre es un <em>+2 @UUID[Compendium.pf2e.equipment-srd.KCQRFvUgbyclvOGi]{{Golpe mayor} @UUID[Compendium.pf2e.equipment-srd.XszNvxnymWYRaoTp]{Flamizante} @UUID[Compendium.pf2e.equipment-srd.NVst7e69agGG9Qwd]{Golpe}</em> arma y puede ser de cualquier tamaño, elegido por el xiuh couatl cuando se transforman. En forma de arma, los xiuh couatl ganan Dureza igual a la del arma en la que se transforman, y conservan sus Puntos de Golpe, tiradas de salvación, sentidos, telepatía y rasgos mientras están en forma de arma. El xiuh couatl puede revertir a su forma normal gastando una única acción, que tiene el rasgo concentrado.</p> <p>
