Name: Clever Improviser
Nombre: Improvisador astuto
PrereqEN: 
PrereqES: 
Estado: auto-trad

------ Description (en) ------
<p>You've learned how to handle situations when you're out of your depth. You gain the @UUID[Compendium.pf2e.feats-srd.9jGaBxLUtevZYcZO]{Untrained Improvisation} general feat. In addition, you can attempt skill actions that normally require you to be trained, even if you are untrained.</p>
------ Description (es) ------
<p>Has aprendido a manejar las situaciones cuando estás fuera de ti. Ganas la proeza general @UUID[Compendium.pf2e.feats-srd.9jGaBxLUtevZYcZO]{{Improvisación no entrenada}. Además, puedes hacer acciones de habilidad que normalmente requieren que estés entrenado, incluso si estás desentrenado.</p> <p><strong>Improvisación sin entrenamiento</strong>.
