Name: Armiger's Mobility
Nombre: Movilidad de Armiger
PrereqEN: expert in heavy armor|Hellknight Armiger Dedication
PrereqES: experto en armadura pesada|Dedicación de Caballero Infernal Armiger
Estado: auto-trad

------ Description (en) ------
<p>You've learned how best to move in heavy armor. When wearing heavy armor, if you meet the Strength requirement, instead of reducing the movement penalty by 5 feet, you reduce the penalty by 10 feet (typically reducing the penalty to 0). If you are a dwarf with the @UUID[Compendium.pf2e.feats-srd.C1R4wd6G46CAVIn7]{Unburdened Iron} feat, increase your Speed by 5 feet.</p>
------ Description (es) ------
<p>Has aprendido la mejor forma de moverte con armadura pesada. Cuando llevas armadura pesada, si cumples el requisito de Fuerza, en lugar de reducir la penalización de movimiento en 5 pies, reduces la penalización en 10 pies (normalmente reduciendo la penalización a 0). Si eres un enano con la hazaña @UUID[Compendium.pf2e.feats-srd.C1R4wd6G46CAVIn7]{{No impedido por el hierro}, aumenta tu Velocidad en 5 pies.</p> <p> </p> <p>Si eres un enano con la hazaña @UUID[Compendium.pf2e.feats-srd.C1R4wd6G46CAVIn7]{{No impedido por el hierro}, aumenta tu Velocidad en 5 pies.</p> <p>
