Name: Accursed Magic
Nombre: Magia maldita
PrereqEN: Curse Maelstrom Dedication
PrereqES: Maldición Dedicación Maelstrom
Estado: auto-trad

------ Description (en) ------
<p>When the curse within you spills out, you can lay curses on others and claim them for yourself with ease. You can cast <em>@UUID[Compendium.pf2e.spells-srd.5OcZ3HBkrRFhSWCz]{Claim Curse}</em>. At 10th level, you can also cast <em>@UUID[Compendium.pf2e.spells-srd.gfKhtVsXF3HKSdmY]{Seal Fate}</em>, and at 12th level, you can also cast <em>@UUID[Compendium.pf2e.spells-srd.8THDHP0UC7SgOYYF]{Inevitable Disaster}</em>. You can cast these spells once per day as occult innate spells, but only while within your curse maelstrom state. If you couldn't already cast occult spells, these spells use Wisdom as your spellcasting ability, and you become trained in spell attack rolls and spell DCs for occult spells.</p>
------ Description (es) ------
<p>Cuando la maldición de tu interior se derrama, puedes lanzar maldiciones sobre otros y reclamarlas para ti con facilidad. Puedes lanzar <em>@UUID[Compendium.pf2e.spells-srd.5OcZ3HBkrRFhSWCz]{Claim Curse}</em>. A 10º nivel, también puede lanzar <em>@UUID[Compendium.pf2e.spells-srd.gfKhtVsXF3HKSdmY]{Sellar destino}</em>, y a 12º nivel, también puede lanzar <em>@UUID[Compendium.pf2e.spells-srd.8THDHP0UC7SgOYYF]{{Desastre inevitable}</em>. Puedes lanzar estos conjuros una vez al día como conjuros innatos de ocultismo, pero sólo mientras estés en el estado de vorágine de maldición. Si aún no podías lanzar conjuros ocultos, estos conjuros usan Sabiduría como tu habilidad de lanzamiento de conjuros, y pasas a estar entrenado en tiradas de ataque de conjuros y CC de conjuros ocultos.</p> <p>
