Name: Gossip Lore
Nombre: Gossip Lore
PrereqEN: Dandy Dedication
PrereqES: Dedicatoria Dandy
Estado: auto-trad

------ Description (en) ------
<p>Your time gossiping in fashionable salons keeps you informed on every topic.</p>
<p>You are trained in Gossip Lore, a special Lore skill that can be used only to @UUID[Compendium.pf2e.actionspf2e.1OagaWtBpVXExToo]{Recall Knowledge}, but on any topic. If you fail a check to Recall Knowledge with Gossip Lore, you get the effects of the @UUID[Compendium.pf2e.feats-srd.1Bt7uCW2WI4sM84P]{Dubious Knowledge} skill feat.</p>
<p>If you have legendary proficiency in Society, you gain expert proficiency in Gossip Lore, but you can't increase your proficiency rank in Gossip Lore by any other means.</p>
------ Description (es) ------
<p>Tu tiempo cotilleando en los salones de moda te mantiene informado sobre todos los temas.</p> <p>Tu tiempo cotilleando en los salones de moda te mantiene informado sobre todos los temas.
<p>Estás entrenado en Cotillear Lore, una habilidad especial de Lore que sólo puede usarse para @UUID[Compendium.pf2e.actionspf2e.1OagaWtBpVXExToo]{Recordar conocimiento}#, pero sobre cualquier tema. Si fallas un chequeo de Recordar conocimiento con Gossip Lore, obtienes los efectos de la proeza de habilidad @UUID[Compendium.pf2e.feats-srd.1Bt7uCW2WI4sM84P]{{Conocimiento dudoso}#.</p> <p>
<p>Si tienes competencia legendaria en Sociedad, obtienes competencia experta en Sabiduría de cotilleos, pero no puedes aumentar tu rango de competencia en Sabiduría de cotilleos por ningún otro medio.</p>
