Name: Scion of Domora Dedication
Nombre: Dedicación Scion of Domora
PrereqEN: Familiar Master Dedication|you have befriended a spirit guide and it bonded with you using its Bond with Mortal ability.
PrereqES: Dedicación de maestro familiar|Te has hecho amigo de un espíritu guía y se ha unido a ti usando su habilidad Vínculo con mortal.
Estado: auto-trad

------ Description (en) ------
<p>You gain a spirit guide ally. Your familiar takes on the form of a spirit guide specific familiar.</p>
<p><strong>Special</strong> You can take Scion of Domora Dedication even if you have the @UUID[Compendium.pf2e.feats-srd.4zaU3GlTGMNqLFS8]{Familiar Master Dedication} and have not taken two other @UUID[Compendium.pf2e.journals.vx5FGEG34AxI2dow.JournalEntryPage.yaR8E2drX6pFUFCK]{Familiar Master} feats. You can't select another dedication feat until you have gained at least two other feats from the scion of Domora or familiar master archetypes.</p>
------ Description (es) ------
<p>Ganas un espíritu guía aliado. Tu familiar adopta la forma de un familiar específico de guía espiritual.</p> <p>
<p><strong>Especial</strong> Puedes realizar Dedicación de Vástago de Domora incluso si tienes la hazaña ###678641bf3642ed686b372f5eb0e5212##{Dedicación de Maestro Familiar}## y no has realizado otras dos hazañas @UUID[Compendium.pf2e.journals.vx5FGEG34AxI2dow.JournalEntryPage.yaR8E2drX6pFUFCK]{{Maestro Familiar}. No puedes seleccionar otra proeza de dedicación hasta que hayas obtenido al menos otras dos proezas de los arquetipos vástago de Domora o maestro familiar.</p>
