Name: Hit the Dirt!
Nombre: ¡Golpea la tierra!
PrereqEN: 
PrereqES: 
Estado: auto-trad

------ Description (en) ------
<p><strong>Trigger</strong> A creature you can see attempts a ranged Strike against you.</p>
<hr />
<p>You fling yourself out of harm's way. You @UUID[Compendium.pf2e.actionspf2e.d5I6018Mci2SWokk]{Leap}. Your movement gives you a +2 circumstance bonus to AC against the triggering attack. Regardless of whether or not the triggering attack hits, you land @UUID[Compendium.pf2e.conditionitems.j91X7x0XSomq8d60]{Prone} after completing your Leap.</p>
------ Description (es) ------
<p><strong>Desencadenante</strong> Una criatura que puedes ver intenta un Golpe a distancia contra ti.</p> <p
<hr />
<p>Te lanzas por los aires fuera de peligro. Haces @UUID[Compendium.pf2e.actionspf2e.d5I6018Mci2SWokk]{{Salto sin carrerilla}. Tu movimiento te da un bonificador +2 de circunstancia a la CA contra el ataque desencadenante. Independientemente de si el ataque desencadenante impacta o no, consigues @UUID[Compendium.pf2e.conditionitems.j91X7x0XSomq8d60]{Prone}# tras completar tu Salto.</p>
