Name: Stealthy Companion
Nombre: Comparo sigiloso
PrereqEN: Camouflage|an animal companion
PrereqES: Camuflaje|un compañero animal
Estado: auto-trad

------ Description (en) ------
<p>You've trained your animal companion to blend in to its surroundings. Your animal companion gains the benefit of the @UUID[Compendium.pf2e.feats-srd.qqe5VmcO1s8iTOfd]{Camouflage} feat. If your companion is a specialized ambusher, its proficiency rank for Stealth increases to master (or legendary if it was already master).</p>
------ Description (es) ------
<p>Has entrenado a tu compañero animal para que se mimetice con su entorno. Tu compañero animal obtiene el beneficio de la proeza @UUID[Compendium.pf2e.feats-srd.qqe5VmcO1s8iTOfd]{{Camuflaje}. Si tu compañero es un emboscador especializado, su rango de competencia para Sigilo aumenta a maestro (o a legendario si ya era maestro).</p>
