Name: Ring Bell
Nombre: Ring Bell
Estado: auto-trad

------ Description (en) ------
<p><strong>Trigger</strong> The target of your Exploit Vulnerability makes a Strike or Casts a Spell that would affect you or one of your allies.</p>
<p><strong>Requirements</strong> You are holding your bell implement, and the triggering creature is within 30 feet of you.</p>
<hr />
<p>Your implement sings out abruptly, disrupting your foe. The piece played depends on whether the trigger was a Strike or Spell, and it applies to the triggering Strike or Spell, except where noted otherwise.</p>
<ul>
<li><strong>Distracting Cacophony</strong> The trigger is a spell. You create a musical crash of sonic energy that assails the target and breaks its concentration. The target must succeed at a @Check[type:fortitude|dc:resolve(@actor.system.proficiencies.classDCs.thaumaturge.value)] save against your class DC or become @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} until the end of your next turn (@UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 2} on a critical failure). The target doesn't have to attempt a flat check to avoid losing the triggering spell, but the discordant ring does lower the spell attack roll or spell DC of the triggering spell from stupefied.</li>
<li><strong>Disrupting Harmony</strong> The trigger is a Strike. You create a strangely discordant harmony that sinks into your foe's mind and throws its movements off. The target must succeed at a Will save against your class DC or become your choice of @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} or @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1} until the end of your next turn (@UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 2} or @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 2} on a critical failure).</li>
</ul>
------ Description (es) ------
<p><strong>Desencadenante</strong> El objetivo de tu Vulnerabilidad de Explotación realiza un Golpe o Lanza un Hechizo que te afectaría a ti o a uno de tus aliados.</p> <p><strong>Disparo</strong>.
<p><strong>Requisitos</strong> Estás sosteniendo tu implemento de campana, y la criatura desencadenante se encuentra a menos de 30 pies de ti.</p> <p><strong>Explotar Vulnerabilidad</strong>.
<hr />
<p>Tu implemento canta abruptamente, perturbando a tu enemigo. La pieza que se toca depende de si el desencadenante fue un Golpe o un Hechizo, y se aplica al Golpe o Hechizo desencadenante, excepto donde se indique lo contrario.</p> <p>
<ul>
<li><strong>Cacofonía distractora</strong> El desencadenante es un hechizo. Elaboras un estruendo musical de energía sónica que asalta al objetivo y rompe su concentración. El objetivo debe tener éxito en una salvación @Check[type:fortitude|dc:resolve(@actor.system.proficiencies.classDCs.thaumaturge.value)]# contra tu DC de clase o queda @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Estupefacto 1}# hasta el final de tu siguiente turno (@UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Estupefacto 2}## en un fallo crítico). El objetivo no tiene que hacer un chequeo plano para evitar perder el hechizo desencadenante, pero el anillo discordante sí reduce la tirada de ataque o la DC del hechizo desencadenante del anonadado.</li>
<li><strong>Armonía Disruptora</strong> El desencadenante es un Golpe. Elaboras una armonía extrañamente discordante que se hunde en la mente de tu enemigo y desvía sus movimientos. El objetivo debe tener éxito en una salvación de Voluntad contra tu DC de clase o convertirse en @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} o @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1}# hasta el final de tu siguiente turno (@UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 2} o @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{{Clumsy 2}# en un fallo crítico).</li> <li>
</ul>
